{% extends "layout.html" %}
{% block content %}
    <section class="o-row o-row--md u-pt-clear">
        <div class="o-container">
            <article>
                <div class="o-layout">
                    <div class="o-layout__item u-1-of-2-bp3 o-layout-padding--righ ">
                        <h2>
                            Acceso Controlado
                        </h2>
                        <p>
                            Si la barrera del estacionamiento no se abre automaticamente Presione para abrirla
                        </p>

                        <a class="c-link-cta c-link-cta--lg" id="servo" href="#!">
                        Open
                    </a>
                    </div>
                </div>
            </article>
        </div>
    </section>
   {% endblock %}