{% extends "layout.html" %}
{% block content %}
 <section class="o-row o-row--md u-pt-clear">
        <div class="o-container">
            <article>
                <div class="o-layout o-layout--justify-center o-layout--align-center o-layout--row-reverse">
                    <div class="o-layout__item u-1-of-2-bp3">
                        <figure class=" c-figure u-margin-0">
                            <img src="/static/img/smart-parking-estacionamiento-int.png">
                        </figure>
                    </div>
                    <div class="o-layout__item u-1-of-2-bp3 o-layout-padding--right ">
                        <h2>
                            “Smart Parking Intelligent”
                        </h2>
                        <p>
                            Nuestra empresa se va enfocar en resolver el agotador problema de encontrar estacionamiento en espacios concurridos.

                        </p>
                        <a class="c-link-cta c-link-cta--lg" href="#!">
                            Pruebalo
                    </a>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="o-row o-row--lg u-pt-clear">
        <div class="o-container">
            <article>
                <div class="o-layout o-layout--justify-center o-layout--gutter-lg">
                    <div class="o-layout__item">
                        <h2 align="center">
                            Que es lo que <br> hacemos.
                        </h2>
                    </div>
                    <div class="o-layout__item u-1-of-3-bp3">
                        <img src="../static/img/IoT.png" alt="">
                        <h3>
                            IoT con Raspberry
                        </h3>
                        <p>
                            Smart park es un sistema que usa sensores y con ayuda de la Raspberry se implementa el IoT lo que nos permite tener un control sobre los lugares de estacionamiento disponibles.
                        </p>
                    </div>
                    <div class="o-layout__item u-1-of-3-bp3">
                        <img src="../static/img/app.jpg" alt="easy">
                        <h3>
                            Facil de Usar
                        </h3>
                        <p>
                            Lo unico que necesitas es acceder nuestra pagina y sabras cuantos lugares disponibles existen Solo necesitas un acceso a la red.
                        </p>
                    </div>
                    <div class="o-layout__item u-1-of-3-bp3">
                        <img src="../static/img/automaticbarrier.jpg" alt="">
                        <h3>
                            Registro Automatico
                        </h3>
                        <p>
                            Con una barrera y un sensor que registra la llegada y salida de vehiculos Podemos tener un conteo de lugares para que asi no tengas que hacer filas.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </section>
    {% endblock %}